
body  {
    background-color: azure;
    color: black; 
    font-family: 'Lora', serif;
 }

 p {
    font-size:small;
    color: rgb(0, 0, 0);
}

p1 {
    font-size:medium;
    color: rgb(0, 0, 0);
}
 h1 {
    font-size: larger;
   color: azure;
 }
 h2 {
    font-size:xx-large;
    color: rgb(0, 0, 0);
 }
 h3 {
    font-size: x-large;
    color: rgb(0, 0, 0);
 }
 h4 {
    font-size: medium;
    color: rgb(0, 0, 0);
 }
 h5 {
    font-size: large;
    color: rgb(0, 0, 0);
 }
 h6 {
    font-size: large;
    color: rgb(0, 0, 0);
 }
 h7 {
    font-size: large;
    color: rgb(0, 0, 0);
 }
 h8 {
    font-size: large;
    color: rgb(0, 0, 0);
 }
 
 img {
      border-color: #50322a;
      border-width: 15px;
      border-style: solid;
      padding: 10px;
      margin: 15px;
 } 
 li {
    font-size:small;
    color: rgb(48, 46, 46);
 }
 a {
   border: midnightblue;
   border-width: 5px;
   border-style: groove;
   padding: 15px;
   margin: 5px;
 }